
.btn {
    background-color: black;
    color: #fFF;
    border-radius: 2px;
    font-size: 2vw;
    border: none;
}

.btnSizeLarg {
    width: 16vw;
    height: 4vw;
    font-size: 1.6vw;
    cursor: pointer;
    background-color: black;
    color: #FFF;
    border: none;
}

.flex {
    display: flex;
}

.mt,
.mb {
    margin-top: 3rem;
}

.detial {
    display: flex;
    gap: 20rem;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    color: #545454;
}

.deti {
    width: 100%;
    max-width: 33vw
}

.summary {
    font-size: 1.2vw;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detiPera{
    margin-top: 0.8vw;
    line-height: 1.2;
    font-size: 1.1vw;
    width: 100%;
}




details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}



          
          
          
